@media only screen and (max-width: 600px) {
  .destination-container {
    margin: 20px auto;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
  }

  .destination-header {
    display: grid;
    justify-items: center;
    margin-bottom: 0px;
  }

  .destination-title {
    font-size: 20px;
    color: #131318;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .destination-description {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 85vw;
  }

  .destination-images {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
  }

  .destination-images img {
    height: 176px;
  }

  .destination-image-item {
    flex: auto;
    object-fit: cover;
    margin: 5px;
    border-radius: 16px;
  }
}
