@media only screen and (max-width: 600px) {
  .banner-container {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 16px;
    margin-top: 25px;
  }

  .banner-image {
    border-radius: 16px;
    width: 100%;
    height: 65vh;
  }

  .banner-content {
    border-radius: 16px;
    background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    );
    position: absolute;
    inset: 0;
  }

  .banner-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 15px;
  }

  .banner-title {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .banner-subtitle {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  .banner-filter {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
  }

  .banner-filter-where {
    width: 70vw;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    border: none;

    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
  }

  .banner-filter-where::placeholder {
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .banner-filter-when {
    width: 75vw;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;

    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;

    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19.5 8.25L12 15.75L4.5 8.25' stroke='%23131318' stroke-opacity='0.7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.65rem auto;
  }

  .banner-filter-type {
    border: unset;

    width: 75vw;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    padding: 0.75rem;

    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;

    /* Arrow */
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19.5 8.25L12 15.75L4.5 8.25' stroke='%23131318' stroke-opacity='0.7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1.65rem auto;
  }

  .banner-filter-action {
    width: 75vw;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ff5400;
    border: none;
    cursor: pointer;
  }

  .banner-filter-action-items {
    display: flex;
    justify-content: center;
  }

  .banner-filter-action-title {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 4px;
    padding-left: 6px;
  }
}
