body {
  min-width: fit-content;
}

html {
  min-width: fit-content;
}

.main-container {
  width: 1320px;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Mulish", sans-serif;
}

@media only screen and (max-width: 600px) {
  .main-container {
    max-width: 90vw;
    padding: 10px;
    font-family: "Mulish", sans-serif;
    overflow: hidden;
  }
}
